<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaowu.mapper.SysIotDeviceDataMapper">

    <resultMap id="BaseResultMap" type="com.xiaowu.entity.SysIotDeviceData">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="VARCHAR"/>
            <result property="deviceName" column="device_name" jdbcType="VARCHAR"/>
            <result property="fan" column="fan" jdbcType="TINYINT"/>
            <result property="hasFire" column="has_fire" jdbcType="TINYINT"/>
            <result property="hasPeople" column="has_people" jdbcType="TINYINT"/>
            <result property="led" column="led" jdbcType="TINYINT"/>
            <result property="light" column="light" jdbcType="VARCHAR"/>
            <result property="humi" column="humi" jdbcType="VARCHAR"/>
            <result property="mq2" column="mq2" jdbcType="VARCHAR"/>
            <result property="temp" column="temp" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,device_name,
        fan,has_fire,has_people,
        led,light,humi,
        mq2,temp,time
    </sql>
</mapper>
